/* *{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container h1{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
}
.input-box{
    display: flex;
    flex-direction: column;


} */